Json code
[
    {
        "id": "98c342ce.9b9c3",
        "type": "tab",
        "label": "流程1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "63fbc572.d404ec",
        "type": "mqtt in",
        "z": "98c342ce.9b9c3",
        "name": "Pi3_Broker_In",
        "topic": "MA2019/#",
        "qos": "0",
        "datatype": "utf8",
        "broker": "4b3e807678c7b57a",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 160,
        "y": 280,
        "wires": [
            [
                "7e5d5cc.02b7ea4",
                "382b4652.5939ea",
                "b1b34959.7a57f8",
                "590d4ebe.26b35",
                "42f826f1.c9ded8",
                "7e2ef342.ed605c",
                "fe68dbdac3355f88",
                "fd29b6eb6c7167e5",
                "55c6d94ff4e7ee96",
                "b9b8376da349cddb",
                "6dfbe4bee6f639b9",
                "9bcf2c821f11073d",
                "4a814d55.6db0b4",
                "6739a8f1ea708ca0",
                "301794396f8f56a6"
            ]
        ]
    },
    {
        "id": "42f826f1.c9ded8",
        "type": "file",
        "z": "98c342ce.9b9c3",
        "name": "",
        "filename": "/home/pi/Documents/MA2019",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 710,
        "y": 200,
        "wires": [
            [
                "7d530376.8cfc4c"
            ]
        ]
    },
    {
        "id": "f1ec23ab.97339",
        "type": "ui_gauge",
        "z": "98c342ce.9b9c3",
        "name": "SHT35_Temp",
        "group": "83623d6c.f38ad",
        "order": 9,
        "width": 7,
        "height": 6,
        "gtype": "donut",
        "title": "Temp(degC)",
        "label": " DegC",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 600,
        "y": 420,
        "wires": []
    },
    {
        "id": "7e5d5cc.02b7ea4",
        "type": "function",
        "z": "98c342ce.9b9c3",
        "name": "F1",
        "func": "var output=msg.payload.split(\",\");\nreturn [{payload:output[14]}];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 420,
        "wires": [
            [
                "f1ec23ab.97339",
                "39361e05.5a6452"
            ]
        ]
    },
    {
        "id": "382b4652.5939ea",
        "type": "function",
        "z": "98c342ce.9b9c3",
        "name": "F2",
        "func": "var output=msg.payload.split(\",\");\nreturn [{payload:output[16]}];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 460,
        "wires": [
            [
                "250e0436.5c027c",
                "a0963f54.0cb91"
            ]
        ]
    },
    {
        "id": "250e0436.5c027c",
        "type": "ui_gauge",
        "z": "98c342ce.9b9c3",
        "name": "SHT35_RH",
        "group": "83623d6c.f38ad",
        "order": 10,
        "width": 7,
        "height": 6,
        "gtype": "wave",
        "title": "RH(%)",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 590,
        "y": 460,
        "wires": []
    },
    {
        "id": "b1b34959.7a57f8",
        "type": "function",
        "z": "98c342ce.9b9c3",
        "name": "F4",
        "func": "var output=msg.payload.split(\",\");\nreturn [{payload:output[18]}];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 500,
        "wires": [
            [
                "b601e445.c3c4c8",
                "5dfaddf06a4ebc65"
            ]
        ]
    },
    {
        "id": "b601e445.c3c4c8",
        "type": "ui_gauge",
        "z": "98c342ce.9b9c3",
        "name": "G7_PM2.5",
        "group": "83623d6c.f38ad",
        "order": 11,
        "width": 7,
        "height": 6,
        "gtype": "donut",
        "title": "PM2.5(ug/m^3)",
        "label": "ug/m^3",
        "format": "{{value}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 590,
        "y": 500,
        "wires": []
    },
    {
        "id": "590d4ebe.26b35",
        "type": "function",
        "z": "98c342ce.9b9c3",
        "name": "F3",
        "func": "var output=msg.payload.split(\",\");\nreturn [{payload:output[2]}];",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 540,
        "wires": [
            [
                "ab4c2e45fbd6dd0e"
            ]
        ]
    },
    {
        "id": "7e2ef342.ed605c",
        "type": "function",
        "z": "98c342ce.9b9c3",
        "name": "timeConvert",
        "func": "if ( !msg.timestamp ) msg.timestamp = Math.round(+new Date());\n\nvar dt = (msg.timestamp);\n\nreturn [{payload:dt +\"\\n\"}];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "39361e05.5a6452",
        "type": "ui_chart",
        "z": "98c342ce.9b9c3",
        "name": "Temp_Char",
        "group": "83623d6c.f38ad",
        "order": 12,
        "width": 7,
        "height": 6,
        "label": "Temp-chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "15",
        "ymax": "32",
        "removeOlder": "6",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#95df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 810,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "a0963f54.0cb91",
        "type": "ui_chart",
        "z": "98c342ce.9b9c3",
        "name": "RH_Char",
        "group": "83623d6c.f38ad",
        "order": 13,
        "width": 7,
        "height": 6,
        "label": "RH-chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "6",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 800,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "7d530376.8cfc4c",
        "type": "debug",
        "z": "98c342ce.9b9c3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 280,
        "wires": []
    },
    {
        "id": "fe68dbdac3355f88",
        "type": "function",
        "z": "98c342ce.9b9c3",
        "name": "F5",
        "func": "var output=msg.payload.split(\",\");\nreturn [{payload:output[4]}];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 600,
        "wires": [
            [
                "3d989ebcb01e9bcf"
            ]
        ]
    },
    {
        "id": "fd29b6eb6c7167e5",
        "type": "function",
        "z": "98c342ce.9b9c3",
        "name": "F6",
        "func": "var output=msg.payload.split(\",\");\nreturn [{payload:output[6]}];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 640,
        "wires": [
            [
                "8a8eabc255cd0614"
            ]
        ]
    },
    {
        "id": "55c6d94ff4e7ee96",
        "type": "function",
        "z": "98c342ce.9b9c3",
        "name": "F7",
        "func": "var output=msg.payload.split(\",\");\nreturn [{payload:output[8]}];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 680,
        "wires": [
            [
                "6bf5b6e6343e4f09"
            ]
        ]
    },
    {
        "id": "b9b8376da349cddb",
        "type": "function",
        "z": "98c342ce.9b9c3",
        "name": "F8",
        "func": "var output=msg.payload.split(\",\");\nreturn [{payload:output[10]}];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 720,
        "wires": [
            [
                "8e1fed541e443dba"
            ]
        ]
    },
    {
        "id": "8e1fed541e443dba",
        "type": "ui_text",
        "z": "98c342ce.9b9c3",
        "group": "83623d6c.f38ad",
        "order": 5,
        "width": 7,
        "height": 1,
        "name": "",
        "label": "Atitude(M)",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 580,
        "y": 720,
        "wires": []
    },
    {
        "id": "6bf5b6e6343e4f09",
        "type": "ui_text",
        "z": "98c342ce.9b9c3",
        "group": "83623d6c.f38ad",
        "order": 6,
        "width": 7,
        "height": 1,
        "name": "",
        "label": "Sat number",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 580,
        "y": 680,
        "wires": []
    },
    {
        "id": "3d989ebcb01e9bcf",
        "type": "ui_text",
        "z": "98c342ce.9b9c3",
        "group": "83623d6c.f38ad",
        "order": 7,
        "width": 7,
        "height": 1,
        "name": "",
        "label": "Lotitude",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 570,
        "y": 600,
        "wires": []
    },
    {
        "id": "8a8eabc255cd0614",
        "type": "ui_text",
        "z": "98c342ce.9b9c3",
        "group": "83623d6c.f38ad",
        "order": 8,
        "width": 7,
        "height": 1,
        "name": "",
        "label": "Latitude",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 570,
        "y": 640,
        "wires": []
    },
    {
        "id": "ab4c2e45fbd6dd0e",
        "type": "ui_text",
        "z": "98c342ce.9b9c3",
        "group": "83623d6c.f38ad",
        "order": 1,
        "width": 7,
        "height": 1,
        "name": "",
        "label": "ID",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 560,
        "y": 540,
        "wires": []
    },
    {
        "id": "6dfbe4bee6f639b9",
        "type": "function",
        "z": "98c342ce.9b9c3",
        "name": "F-1",
        "func": "var output=msg.payload.split(\",\");\nreturn [{payload:output[20]}];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 300,
        "wires": [
            [
                "64cdd19caabe8da7"
            ]
        ]
    },
    {
        "id": "9bcf2c821f11073d",
        "type": "function",
        "z": "98c342ce.9b9c3",
        "name": "F0",
        "func": "var output=msg.payload.split(\",\");\nreturn [{payload:output[22]}];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 340,
        "wires": [
            [
                "cde82675fe0b5e31"
            ]
        ]
    },
    {
        "id": "64cdd19caabe8da7",
        "type": "ui_text",
        "z": "98c342ce.9b9c3",
        "group": "83623d6c.f38ad",
        "order": 2,
        "width": 7,
        "height": 1,
        "name": "",
        "label": "Date",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 550,
        "y": 300,
        "wires": []
    },
    {
        "id": "cde82675fe0b5e31",
        "type": "ui_text",
        "z": "98c342ce.9b9c3",
        "group": "83623d6c.f38ad",
        "order": 3,
        "width": 7,
        "height": 1,
        "name": "",
        "label": "Time",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 550,
        "y": 340,
        "wires": []
    },
    {
        "id": "4a814d55.6db0b4",
        "type": "function",
        "z": "98c342ce.9b9c3",
        "name": "GetRealClock",
        "func": "if ( !msg.timestamp ) msg.timestamp = Math.round(+new Date());\n\nvar payload=msg;\nmsg.payload =\",\"+new Date().toISOString()+\"\\n\";\nreturn msg;\n/*\nvar msg = {\n\t'month':dt.getMonth() + 1,\n\t'day':dt.getDate(),\n\t'year':dt.getFullYear(),\n\t'hours':\tdt.getHours(),\n\t'mins':\t\tdt.getMinutes(),\n\t'msecs':\tdt.getMilliseconds()\n}\n*/",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 140,
        "wires": [
            [
                "42f826f1.c9ded8"
            ]
        ]
    },
    {
        "id": "6739a8f1ea708ca0",
        "type": "function",
        "z": "98c342ce.9b9c3",
        "name": "F01",
        "func": "var output=msg.payload.split(\",\");\nreturn [{payload:output[12]}];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 380,
        "wires": [
            [
                "f9f51353a8cec9f4"
            ]
        ]
    },
    {
        "id": "f9f51353a8cec9f4",
        "type": "ui_text",
        "z": "98c342ce.9b9c3",
        "group": "83623d6c.f38ad",
        "order": 4,
        "width": 7,
        "height": 1,
        "name": "",
        "label": "Pressure(hPa)",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 600,
        "y": 380,
        "wires": []
    },
    {
        "id": "5dfaddf06a4ebc65",
        "type": "ui_chart",
        "z": "98c342ce.9b9c3",
        "name": "PM2.5_Char",
        "group": "83623d6c.f38ad",
        "order": 14,
        "width": 7,
        "height": 6,
        "label": "PM2.5-chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "80",
        "removeOlder": "6",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 810,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "eacaecd6f39f930a",
        "type": "remote-access",
        "z": "98c342ce.9b9c3",
        "confignode": "4a0d285623aaa4b6",
        "name": "remote red",
        "verbose": false,
        "x": 1160,
        "y": 380,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "efb1f72f.d56a98",
        "type": "worldmap",
        "z": "98c342ce.9b9c3",
        "name": "location",
        "lat": "25.050838491525237",
        "lon": "121.12324912333402",
        "zoom": "14",
        "layer": "OSMG",
        "cluster": "",
        "maxage": "",
        "usermenu": "hide",
        "panit": "true",
        "hiderightclick": "false",
        "coords": "none",
        "showruler": "true",
        "path": "",
        "overlist": "DR,CO,RA,DN,HM",
        "maplist": "OSMG,OSMC,EsriC,EsriS,EsriT,EsriO,EsriDG,NatGeo,UKOS,OpTop",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 740,
        "y": 920,
        "wires": []
    },
    {
        "id": "208a3922.4fc106",
        "type": "inject",
        "z": "98c342ce.9b9c3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "{\"name\":\"Devicel\",\"lat\":25.050838491525237,\"lon\":121.12324912333402,\"radius\":10000}",
        "payloadType": "json",
        "x": 140,
        "y": 860,
        "wires": [
            [
                "59d2062e.e54db8"
            ]
        ]
    },
    {
        "id": "59d2062e.e54db8",
        "type": "function",
        "z": "98c342ce.9b9c3",
        "name": "",
        "func": "// create random position\nvar lat = 51 + Math.random() * 0.2;\nvar lon = -1.45 + Math.random() * 0.2;\nmsg.payload={lat:lat, lon:lon, name:\"Mike\", icon:\"male\", url:\"<a href=\\\"../ui/#/0\\\">IBM link</a>\"};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 920,
        "wires": [
            [
                "efb1f72f.d56a98"
            ]
        ]
    },
    {
        "id": "aa27dc72.3e70a",
        "type": "ui_template",
        "z": "98c342ce.9b9c3",
        "group": "83623d6c.f38ad",
        "name": "",
        "order": 16,
        "width": 7,
        "height": 7,
        "format": "<div ng-bind-html=\"msg.payload | trusted\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 500,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "f88c9738.621ee8",
        "type": "template",
        "z": "98c342ce.9b9c3",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<iframe src=\"../worldmap\" height=300px ></iframe>",
        "x": 320,
        "y": 980,
        "wires": [
            [
                "aa27dc72.3e70a"
            ]
        ]
    },
    {
        "id": "bdb72125.35aa9",
        "type": "ui_button",
        "z": "98c342ce.9b9c3",
        "name": "",
        "group": "83623d6c.f38ad",
        "order": 15,
        "width": 7,
        "height": 1,
        "passthru": false,
        "label": "Move Mike",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-male",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 140,
        "y": 920,
        "wires": [
            [
                "59d2062e.e54db8"
            ]
        ]
    },
    {
        "id": "b9813d1d.028ac",
        "type": "comment",
        "z": "98c342ce.9b9c3",
        "name": "How to embed Map in Dashboard",
        "info": "This example shows how to embed the Worldmap \ninto a template node within the `node-red-dashboard`\n\nThe first flow creates a dashboard button that \ngenerates a randon position, with the required \nicon, and passes that to the worldmap. The\nmap is configured to automatically pan to the\nposition of any point that arrives.\n\nThe second flow initialise the dashboard template\nwith the initial map and sets it to a more square shape\nby adjusting the height.",
        "x": 190,
        "y": 1060,
        "wires": []
    },
    {
        "id": "8ccd6b8f5f38c9a8",
        "type": "inject",
        "z": "98c342ce.9b9c3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"name\":\"Devicel\",\"lat\":25.050838491525237,\"lon\":121.12324912333402,\"iconColor\":\"blue\"}",
        "payloadType": "json",
        "x": 310,
        "y": 820,
        "wires": [
            [
                "301794396f8f56a6"
            ]
        ]
    },
    {
        "id": "c7fd20dd.46979",
        "type": "inject",
        "z": "98c342ce.9b9c3",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "x": 120,
        "y": 980,
        "wires": [
            [
                "f88c9738.621ee8"
            ]
        ]
    },
    {
        "id": "301794396f8f56a6",
        "type": "function",
        "z": "98c342ce.9b9c3",
        "name": "function 1",
        "func": "\n// create random position\nvar lat = msg.payload.split(\",\");\nreturn [{ payload: lat[6] }];\nvar lon = msg.payload.split(\",\");\nreturn [{ payload: lon[6] }];\nmsg.payload = { lat: lat, lon: lon, name: \"weather\", icon: \"male\", url: \"<a href=\\\"../ui/#/0\\\">IBM link</a>\" };\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 800,
        "wires": [
            [
                "efb1f72f.d56a98",
                "bfbb3dc99912ad4c"
            ]
        ]
    },
    {
        "id": "bfbb3dc99912ad4c",
        "type": "debug",
        "z": "98c342ce.9b9c3",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 800,
        "wires": []
    },
    {
        "id": "4b3e807678c7b57a",
        "type": "mqtt-broker",
        "name": "iphone_wifi",
        "broker": "192.168.1.117",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "83623d6c.f38ad",
        "type": "ui_group",
        "name": "BOX_01",
        "tab": "7ebb13ff.0569bc",
        "order": 1,
        "disp": true,
        "width": 7,
        "collapse": true,
        "className": ""
    },
    {
        "id": "4a0d285623aaa4b6",
        "type": "remote-config",
        "name": "Node-RED UI",
        "host": "localhost",
        "protocol": "http",
        "port": "1880",
        "baseurl": "/ui",
        "instancehash": "7nbi99fadvxhlh86g27aiyiunipq71esec88jj7840bpa6nsfrcli65w50srdno2",
        "server": "nodered05.remote-red.com",
        "region": "sg"
    },
    {
        "id": "7ebb13ff.0569bc",
        "type": "ui_tab",
        "name": "Mobile Aerobox",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
